body {
    color: white;
    background-color: #262626;
    text-align: center;
    font-size: 20px;
    display: inline;
}

p {
    display: inline;
}

.away {
    width: 40%;
    height: 70px;
    text-align: left;
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
    padding: auto;
    position: relative;
}

.home {
    width: 40%;
    height: 70px;
    text-align: right;
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
    padding: auto;
    position: relative;
}

#dash {
    display: inline;
    margin: auto;
    text-align: center;
    width: 10px;
}

.homeTeam {
    display: inline-block;
    width: 50%;
    padding-right: 20px;
}

.awayTeam {
    display: inline-block;
    width: 50%;
    padding-left: 20px;
}

.score {
    padding: 5px;
    border: 1px solid grey;
}

.centered {
    text-align: center;
}

.val {
    display: inline;
}

.leagues {
    width: 100%;
    display: block;
}

.logo {
    display: none;
    height: 100px;
    width: 100px;
    vertical-align: middle;
    padding: 10px;
    background-color: rgb(255, 255, 255, 1.0);
}

.teamLogoHome {
    display: inline;
    height: 50px;
    width: 50px;
    vertical-align: middle;
    padding: 10px;
    position: relative;
    left: 0px;
}


.teamLogoAway {
    display: inline;
    height: 50px;
    width: 50px;
    vertical-align:middle;
    padding: 10px;
    position: relative;
    right: 0px;
}

.header {
    display: inline;
    padding: 10px;
    font-size: 30px;
}

.headerBox {
    border-bottom: 1px solid grey;
    width: 85%;
    padding: 10px;
    margin: auto;
}

.matchUp{
    text-align: center;
    width: 80%;
    padding: 10px;
    margin: auto;
    border: 1px solid grey;
    border-radius: 20px;
}

#scores {
    display: block;
}

.nav {
    width: 100%;
    background-color: #262626;
    color: white;
    height: 50px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.navButton {
    background-color: transparent;
    border: 1px solid white;
    height: 50px;
    width: 100px;
    color: white;
}

#dash {
    display: inline;
    height: 70px;
    text-align: center;
    vertical-align: middle;
}

.navButton:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
